.card {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  width: 320px;
  box-shadow: 10px 10px 3px #9e9e9e;
  border-radius: 4px;
  padding: 5px;
  background-color: #607d8b;
}
h3 {
  font-size: 40px;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}

img {
  border-radius:2px;
  margin: 10px;
}
.right {
  text-align: right;
  float: right;
}
.left {
  font-weight: bold;
  float: left;
}
.text-border {
  border-width: 1px;
  border-style: solid;
  border-color: #9e9e9e;
  border-radius: 5px;
  padding: 1px;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  width: 300px;
}
ul {
  list-style-type: none;
  padding: 5px 10px 5px 10px;
}

.italic {
  font-style: italic;
  padding: 10px;
}

.information {
  padding: 10px;
}
